@{
    ViewData["Title"] = "AGREGAR JUGADOR";
} 
<form method="post" Action='@Url.Action("GuardarJugador","Home")' enctype="multipart/form-data">
            <input type="hidden" name="IdEquipo" value='@ViewBag.IdEquipo'>
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" placeholder="Nombre y Apellido del jugador">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Fecha de nacimiento</label>
              <input type="Date" class="form-control" id="exampleFormControlInput1" name="fechaNacimiento" placeholder="Fecha de nacimiento del jugador">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Foto</label>
              <input type="file" class="form-control" id="exampleFormControlInput1" name="foto" placeholder="Foto del jugador">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Equipo Actual</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="equipoActual" placeholder="Equipo Actual del jugador">
            </div>
           <input type = "submit" value="Guardar jugador"></input>
  </form>