html {
  font-size: 14px;
}
 
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
 
html {
  position: relative;
  min-height: 100%;
}
 
body {
  margin-bottom: 60px;
}
 
.background{
  background-color: #950d33;
}
.card{
  background-color: #950d33;
  border-width: 0;
}
.card-title{
  color: white;
  font-size: 30px;
}
.navcolor
{
  background-color: white;
}

.titulo
{
  font-size:50px;
  color: white;
  font-family: monospace;
}